<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- Configure the specified class to spring. Let Spring create an instance of the object. -->
	<bean id="userDao" class="com.alex.ioc.UserDaoImpl"></bean>

	<!-- Add an instance whose id is "userService" -->
	<bean id="userService" class="com.alex.ioc.UserServiceImpl">
		<!-- Inject a Bean instance whose id is userDao into userService Instance -->
		<property name="userDao" ref="userDao"></property>
	</bean>

</beans>